body {
    width: 40rem;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    font-size: small;
}

h1 {
    color: #333333;
    font-size: 3.5rem;
    margin: 1rem 0;
}

a {
    color: deepskyblue;
    text-decoration: none;
    padding-right: 20px;
}

a:visited {
    text-decoration: none;
}

img {
    width: 250px;
    padding: 1rem 0;
}

.footer {
    color: #afc2cc;
    margin: 1rem 0;
    padding: 2rem 0;
    border-top: 1px solid #afc2cc;
}

input {
    border: 1px soli #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.result-title {
    display: inline-flex;
    border-bottom: 1px solid;
    padding-bottom: 4px;
    margin-bottom: 0;
    margin-top: 0px;
}

.result-body {
    margin-top: 10px;
    margin-bottom: 30px;
}

#error {
    color: rgb(238, 106, 106)
}

.messages {
    margin-top: 2rem;
}